window {
  margin: 0px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  background-color: #c0c0c0;
  border-radius: 0px;
  font-family: "More Perfect DOS VGA", monospace;
}

#input {
  margin: 5px;
  padding: 4px 6px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  font-family: "More Perfect DOS VGA", monospace;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #c0c0c0;
  border-radius: 0px;
}

#outer-box {
  margin: 5px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  background-color: #c0c0c0;
  border-radius: 0px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  padding-right: 10px;
  border: none;
  color: #000000;
  font-family: "More Perfect DOS VGA", monospace;
}

#entry:selected {
  background-color: #000080;
  border-radius: 0px;
}

#entry:selected #text {
  color: #ffffff;
}
